@keyframes pulsate {
    0% {
        background-color: #002e0f;
    }

    100% {
        background-color: #0a5701;
    }
}

.highlight_bg {
    animation: pulsate 2s ease-in-out infinite alternate;
    @apply outline outline-1 p-1
}

.wiki_header {
    @apply px-8 max-h-96 flex items-center my-5;
    z-index: 1;
    position: relative;
}

.wiki_header_buttons {
    @apply h-32 px-4;
}

.wiki_header_buttons_nohover {
    @apply h-32 px-4;
}

.wiki_header_buttons:hover {
    background-color: rgb(255, 255, 255, 0.2);
}

.pageDataContainer {
    @apply mx-2 md:mx-7 bg-gray-800 px-5 py-2 mb-20 pb-5
}

.wiki_container img {
    @apply m-2
}

.wiki_container h1 {
    @apply mt-3 underline font-bold text-5xl
}

.wiki_container h2 {
    @apply mt-20 underline font-bold text-3xl
}

.wiki_container h3 {
    @apply mt-5 underline font-bold text-xl text-white
}

.wiki_container p {
    @apply mb-5
}

.wiki_container em {
    @apply text-base
}

.wiki_container a {
    @apply text-purple-400 underline
}

.wiki_container disc ul {
    @apply ml-5 my-5
}

.wiki_container disc ul li {
    @apply ml-2 my-1 list-disc
}

.wiki_container ul {
    @apply ml-12 my-5
}

.wiki_container ul li {
    @apply mb-5 list-decimal text-xl
}

.wiki_container ul li strong {
    @apply underline
}

.wiki_container ul ul li {
    @apply ml-2 my-1 list-disc
}

.wiki_container li li {
    @apply ml-2 my-1 list-disc text-lg
}

.wiki_container li ul {
    @apply ml-2 my-1
}

.wiki_container code {
    @apply bg-yellow-900 p-0.5
}

.wiki_container table {
    @apply w-11/12 md:w-1/4 text-left rtl:text-right m-5
}

.wiki_container table thead {
    @apply text-white uppercase bg-neutral-900
}

.wiki_container table thead tr th {
    @apply m-52 underline p-1
}

.wiki_container table tbody tr {
    @apply odd:bg-gray-900 even:bg-gray-700 border-b border-gray-700 p-1
}

.warning_box {
    @apply bg-orange-600 p-2 my-2 font-bold text-center
}